backports-abc==0.5
backports.functools-lru-cache==1.4
backports.ssl-match-hostname==3.5.0.1
bob==3.0.0
bob.ap==2.1.5
bob.blitz==2.0.14
bob.core==2.1.9
bob.db.atnt==2.0.10
bob.db.base==2.3.2
bob.db.iris==2.1.1
bob.db.mnist==2.1.1
bob.db.wine==2.0.9
bob.extension==2.4.5
bob.io.audio==2.0.6
bob.io.base==3.0.2
bob.io.image==2.3.0
bob.io.matlab==2.0.10
bob.io.video==2.0.19
bob.ip.base==2.1.0
bob.ip.color==2.0.10
bob.ip.draw==2.0.9
bob.ip.facedetect==2.1.4
bob.ip.flandmark==2.1.6
bob.ip.gabor==2.0.11
bob.ip.optflow.hornschunck==2.0.13
bob.ip.optflow.liu==2.0.12
bob.learn.activation==2.0.10
bob.learn.boosting==2.0.13
bob.learn.em==2.1.0
bob.learn.libsvm==2.0.13
bob.learn.linear==2.1.2
bob.learn.mlp==2.1.6
bob.math==3.0.0
bob.measure==2.4.1
bob.sp==2.0.10
certifi==2017.11.5
cycler==0.10.0
docopt==0.6.2
functools32==3.2.3.post2
matplotlib==2.1.1
numpy==1.13.3
olefile==0.44
Pillow==4.3.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
scikit-learn==0.19.1
scipy==1.0.0
singledispatch==3.4.0.3
six==1.11.0
SQLAlchemy==1.1.13
subprocess32==3.2.7
tornado==4.5.2
